# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# IDE
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
.idea/

# OS
.DS_Store
Thumbs.db

# Env
*.local
.env

# Amplify
amplify_outputs.json
amplify_outputs.dart
amplifyconfiguration.json
amplifyconfiguration.dart
.amplify/

# Test
coverage/
